/* Estilo do Corpo */
.corpo {
    display: flex; /* Define layout flexível para alinhar as guias lado a lado */
    justify-content: space-between; /* Espaça as guias uniformemente */
    align-items: stretch; /* Garante que as guias tenham a mesma altura */
    height: calc(100vh - 300px); /* Ajusta a altura ao restante da tela */
    margin: 0; /* Remove margens externas */
    padding: 0; /* Remove espaçamento interno */
    background-color: #211915;
}