.guiaesquerda, .guiadireita {
    background-color: #ffffff; /* Fundo branco */
    padding: 200px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin: 5% 0% 0;
  }
  
  .guiaesquerda {
    width: 50%; /* Ocupa 50% do espaço total */
  }
  
  .guiadireita {
    width: 40%; /* Ocupa 40% do espaço total */
  }
  
  /* Espaçamento entre as divs */
  .corpo > .guiaesquerda + .giadireita {
    margin-left: 10%; /* Espaçamento entre as duas divs */
  }