.guiaesquerda, .guiadireita {
    background-color: #ffffff; /* Fundo branco */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin: 5% 0% 0;
  }
  
  .guiaesquerda {
    width: 40%; /* Ocupa 50% do espaço total */
  }
  
  .guiadireita {
    width: 50%; /* Ocupa 40% do espaço total */
  }
  
  /* Espaçamento entre as divs */
  .corpo > .guiaesquerda + .giadireita {
    margin-left: 10%; /* Espaçamento entre as duas divs */
  }

  div img {
    width: 100px; /* Largura das imagens */
    height: 100px; /* Altura das imagens */
    object-fit: scale-down; /* Ajusta as imagens proporcionalmente */
    border-radius: 50%; /* Imagens em formato circular */
    border: 8px solid #331fe6; /* Borda verde escuro */
    margin: 0% 0% 0%; /* Margem superior e laterais */
  }



  .stats {
    display: flex; /* Alinha os elementos horizontalmente */
    justify-content: space-between; /* Espaça os itens com igualdade */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    margin: 20px 0; /* Espaçamento vertical da linha */
    text-align: center; /* Centraliza o texto dentro de cada bloco */
  }
  
  .stat {
    flex: 1; /* Cada elemento ocupa espaço igual */
  }
  
  .stat p {
    font-size: 16px; /* Tamanho do texto para o rótulo */
    margin: 0; /* Remove margem superior/inferior */
    font-family: sans-serif;
  }
  
  .stat span {
    display: block; /* Mantém o número em uma linha separada */
    font-size: 24px; /* Tamanho maior para o número */
    font-weight: bold; /* Negrito para destaque */
    margin-top: 5px; /* Espaço entre o texto e o número */
  }